* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  --elements-color: #22223b;
  --text-color: #4a4e69;
  --elements2-color: #9a8c98;
  --background-color: #f2e9e4;
  background: var(--background-color);
}

/* Header and navbar styling */

header {
  width: 100%;
  height: 80px;
  background: var(--elements-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo img {
  width: 75px;
  height: 75px;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: var(--background-color);
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: var(--background-color);
  background: var(--elements2-color);
}

.navbar ul li a.active {
  color: var(--text-color);
  background: var(--text-color);
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--background-color);
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: var(--elements-color);
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 540px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

/* End of header and navbar styling */

/* Start of main styling*/
main {
  margin-top: 50px;
  margin-bottom: 100px;
}

main div.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-text {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  color: var(--elements-color);
}

h2 {
  color: var(--elements-color);
  font-size: 30px;
  margin-bottom: 20px;
}

main .box img {
  width: 50%;
  height: 50%;
  border-radius: 30px;
}

@media screen and (max-width: 610px) {
  main .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main .box img {
    width: 70%;
    height: 70%;
  }
}

/* End of main styling */

/* about __ */

h3 {
  color: var(--elements-color);
  font-size: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  color: var(--elements-color);
  width: 70%;
  margin: 10px 10px 40px 10px;
  font-size: 20px;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

li i {
  color: var(--elements-color);
  font-size: 50px;
}

li p {
  font-size: 20px;
  color: var(--elements2-color);
}

@media screen and (max-width: 780px) {
  .about-content-box {
    flex-direction: column;
    justify-content: center;
  }

  li i {
    font-size: 40px;
  }

  li p {
    font-size: 17px;
  }

  h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 610px) {
  li i {
    font-size: 50px;
  }

  li {
    margin: 0 0 20px 0px;
  }
  .icon-list {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
  }
}

/* End -- about */

/* START -> SLIDER of Photos by MN V */
h4 {
  color: var(--elements-color);
  font-size: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

body .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: 100px;
  /* width: calc(100% - 100px); */
  height: 400px;
}
@media screen and (max-width: 718px) {
  body .options {
    min-width: 520px;
  }
  body .options .option:nth-child(5) {
    display: none;
  }
  h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 638px) {
  body .options {
    min-width: 440px;
  }
  body .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  body .options {
    min-width: 360px;
  }
  body .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  body .options {
    min-width: 280px;
  }
  body .options .option:nth-child(2) {
    display: none;
  }
}
body .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  border-radius: 30px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option:nth-child(1) {
  --defaultBackground: #ed5565;
}
body .options .option:nth-child(2) {
  --defaultBackground: #fc6e51;
}
body .options .option:nth-child(3) {
  --defaultBackground: #ffce54;
}
body .options .option:nth-child(4) {
  --defaultBackground: #2ecc71;
}
body .options .option:nth-child(5) {
  --defaultBackground: #5d9cec;
}
body .options .option:nth-child(6) {
  --defaultBackground: #ac92ec;
}
body .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  background-size: auto 100%;
}

body .options .option:not(.active) {
  flex-grow: 1;
}
/* End of CSS SLIDER */

/*-- FOOTER START */

#contact {
  padding-top: 50px;
  height: 300px;
}

#contact .container .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.contact-title {
  padding: 20px 0px;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--elements-color);
  display: flex;
  justify-content: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.contact-box span {
  background-color: var(--elements-color);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box span i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--background-color);
}

.contact-box p {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
  font-weight: 700;
  font-size: 1.3em;
}

.contact-box a {
  color: var(--text-color);
}

@media only screen and (max-width: 900px) {
  #contact .container .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
  }
}

/*-- FOOTER END */
