






















/* START -> SLIDER of Photos by MN V */
body .options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width:100px;
  /* width: calc(100% - 100px); */
  height: 400px;
}
@media screen and (max-width: 718px) {
  body .options {
    min-width: 520px;
  }
  body .options .option:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 638px) {
  body .options {
    min-width: 440px;
  }
  body .options .option:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 558px) {
  body .options {
    min-width: 360px;
  }
  body .options .option:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  body .options {
    min-width: 280px;
  }
  body .options .option:nth-child(2) {
    display: none;
  }
}
body .options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  border-radius: 30px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
body .options .option:nth-child(1) {
  --defaultBackground: #ED5565;
}
body .options .option:nth-child(2) {
  --defaultBackground: #FC6E51;
}
body .options .option:nth-child(3) {
  --defaultBackground: #FFCE54;
}
body .options .option:nth-child(4) {
  --defaultBackground: #2ECC71;
}
body .options .option:nth-child(5) {
  --defaultBackground: #5D9CEC;
}
body .options .option:nth-child(6) {
  --defaultBackground: #AC92EC;
}
body .options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  background-size: auto 100%;
}

body .options .option:not(.active) {
  flex-grow: 1;
}
/* End of CSS SLIDER */


